.noselect{
    display:none;
}
* {
    list-style-type: none;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none !important;
}

.clearfix {
    display: block;
    clear: both;
    content: "";
}
/* sign in element started */

.sign-in-elements {
    top: 0;
    position: absolute;
    display: none;
    border: solid .7px;
    height: 470px;
    background-color: #fff;
    border-radius: 1%;
    left: 26%;
    z-index: 4;
    width: 44%;
}

.close {
    text-align: right;
    margin-top: 2%;
}

.sign-in-left-elements {
    padding-top: 6%;
}

label {
    opacity: 0;
    margin: 0;
    margin-top: 2%;
    color: #00acee;
}

input {
    padding: 1% 0;
    border: none;
    border-bottom: solid #DCDCDC 1px;
}

.btn-sign {
    margin-top: 6%;
    border: none;
    color: #fff;
    background-color: #111111;
    font-size: .8rem;
    font-weight: 700;
    padding: 3% 12%;
}

.btn-sign:hover.btn-sign {
    background-color: #2FDAB8;
    transition: 1s;
}

.sign-in-right-elements {
    padding-top: 1%;
}

.sign-in-right-elements img {
    height: 400px;
    margin: 25% 0 0 7%;
}

.sign-in-left-elements ul {
    margin-top: 11%;
    margin-left: -10%;
}
/* sign in element ended */