@model SalaryViewModel
@{
    ViewData["Title"] = "CalculateSalary";
}

<h2>CalculateSalary</h2>

<div class="container">
    <div class="col-md-4">
        <form method="post" asp-action="AddBonus" asp-controller="Worker">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <input class="form-control" disabled asp-for="WorkerId" />
            <div class="form-group">
                <label class="control-label" asp-for="WorkerId"></label>
                <input class="form-control" asp-for="WorkerAccount" disabled />
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Position"></label>
                <input class="form-control" asp-for="Position" />
                <span class="text-danger" asp-validation-for="Position"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="MonthlySalary"></label>
                <input class="form-control" asp-for="MonthlySalary" />
                <span class="text-danger" asp-validation-for="MonthlySalary"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Bonus"></label>
                <input class="form-control" asp-for="Bonus" />
                <span class="text-danger" asp-validation-for="Bonus"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="ExcusableAbsens"></label>
                <input class="form-control" asp-for="ExcusableAbsens" />
                <span class="text-danger" asp-validation-for="ExcusableAbsens"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="UnExcusableAbsens"></label>
                <input class="form-control" asp-for="UnExcusableAbsens" />
                <span class="text-danger" asp-validation-for="UnExcusableAbsens"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="AbsensCount"></label>
                <input class="form-control" asp-for="AbsensCount" />
                <span class="text-danger" asp-validation-for="AbsensCount"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="TotalSalary"></label>
                <input class="form-control" asp-for="TotalSalary" />
                <span class="text-danger" asp-validation-for="TotalSalary"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="SalaryFromBank"></label>
                <input class="form-control" asp-for="SalaryFromBank" />
                <span class="text-danger" asp-validation-for="SalaryFromBank"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enter" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>