@model WorkersViewModel
@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    <div>
        <form asp-action="WorkerList" asp-controller="Worker">
            <div class="form-group" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label class="control-label" asp-for="Name"></label>
                <input class="form-control" asp-for="Name" />
                <span class="form-control" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Surname"></label>
                <input class="form-control" asp-for="Surname" />
                <span class="form-control" asp-validation-for="Surname"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Email"></label>
                <input class="form-control" asp-for="Email" />
                <span class="form-control" asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Position"></label>
                <input class="form-control" asp-for="Position" />
                <span class="form-control" asp-validation-for="Position"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Name"></label>
                <input class="form-control" asp-for="Name" />
                <span class="form-control" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Name"></label>
                <input class="form-control" asp-for="Name" />
                <span class="form-control" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Name"></label>
                <input class="form-control" asp-for="Name" />
                <span class="form-control" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Name"></label>
                <input class="form-control" asp-for="Name" />
                <span class="form-control" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Name"></label>
                <input class="form-control" asp-for="Name" />
                <span class="form-control" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Name"></label>
                <input class="form-control" asp-for="Name" />
                <span class="form-control" asp-validation-for="Name"></span>
            </div>
        </form>
    </div>
</div>