@model Company
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<div class="container-fluid" style="margin-top:15px;">
    <form method="post" asp-controller="Company" asp-action="Edit" enctype="multipart/form-data">
        <div class="text-danger red" asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="ID" />
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input class="form-control" asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger red"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Save" />
            </div>
        </div>
    </form>
</div>